#wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
}

.signup-container{
  border: 1px solid black;
  min-height: 70vh;
  min-width: 20vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.signup-form-container{
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.signup-container img{
  width: 200px;
  border: 1px solid blue;
}