#wrapper {
  min-height: 100vh;
}

/* WIFI STEP INDICATOR STYLE */
.wifi-step-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  padding: 10px;
  top: 4.69rem;
  gap: 5rem;
  background: var(--color-white);
  width: 100vw;
  height: 100px;
}

.wifi-step-container span {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 12px;
  padding: 6px 10px;
  border-radius: 12px;
  border: 1px solid #e8e8e8;
  box-shadow: 0 1px 3px rgba(0,0,0,0.03);
}

/* SELECT WIFI MESSAGE STYLE */
.select-wifi-container{
  top: 10.9rem;
  padding: 10px 20px;
  width: 100vw;
  position: fixed;
  background: var(--color-container-bg);
  box-shadow: 0 1px 3px rgba(0,0,0,0.03);
}

.wifi-list {
  margin-top: 214px;
  background: white;
  border-radius: 6px;
  font-size: 20px;
}

.wifi-item {
  padding: 15px 20px;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.wifi-item:hover {
  background-color: #f5f5f5;
}

/* MODAL BOX ENTER WIFI DETAILS STYLE */
.popup {
  display: none;
  background: white;
  border-radius: 8px;
  padding: 20px;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  z-index: 1000;
}

.popup input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
}

.popup button {
  padding: 10px 20px;
  margin: 15px 5px 0 5px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.confirm {
  background-color: #f48c42;
  color: white;
}

.cancel {
  background-color: #ccc;
}

.button-orientation button:hover{
  transition: 0.6s;
}

.button-orientation{
  padding-left: 12px;
}

.overlay {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100vw; 
  height: 100vh;
  background-color: rgba(0,0,0,0.3);
  z-index: 999;
}

/* SECONDARY HEADER FOR ICONS FIXED POSITION */
.add-devices-header {
  position: fixed;
  background-color: transparent;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
}

.back-style{
  display: flex;
  justify-content: center;
  align-items: center;   
}

/* HIDE/SHOW PASSWORD */
.password-container {
  position: relative;
  width: 100%;
}

.password-container input{
  padding-right: 38px;
  border: none;
  border-radius: 2rem;
  background: var(--color-input-bg);
}

.password-container .toggle-password {
  position: absolute;
  right: 10px;
  top: 60%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
}

.password-container .toggle-password:hover {
  color: #000;
}