#wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right,#FF5656,#FF8746,#FFEA00,#E06F1E,#C99034);
}

/* SIGN UP FORM */
.signup-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.signup-form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
} 

.signup-form-container input{
  border-radius: 7px;
  height: 40px;
  background: var(--color-input-bg);
  box-shadow: 0px 3px 2px var(--color-black-shadow);
  border-style: none;
  font-size: 20px;
}

/* BUTTONS STYLE */
.signup-container button{
  font-size: 20px;
  width: 100px;
  height: 40px;
  box-shadow: 0px 3px 2px var(--color-black-shadow);
  border-style: none;
}

.signup-container button:hover{
  background-color: #bebebe;
  transition: background ease 250ms;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}

.signup-container img{
  width: clamp(120px, 170px, 220px);
}

.signup-container label{
  font-size: 24px;
}

.signup-container h1{
  font-weight: 500;
  font-size: 40px;
}

.signup-container p,a{
  font-size: 14px;
}

/*FORM INPUT AND LABEL FIELDS*/
/* first page style */
.fp-form-fields{
  display: flex;
  flex-direction: column;
}

.fp-form-fields input{
  max-width: 100%;
}

/* second page style */
.sp-form-fields{
  display: flex;
  flex-direction: column;
}

/* SPINNER REMOVED IN NUMBER */
.ip-pnumber::-webkit-inner-spin-button,
.ip-pnumber::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ip-pnumber {
  -moz-appearance: textfield;
}

/* PASSWORD HIDE STYLE */
.password-container {
  position: relative;
}

.password-container input{
  padding-left: 10px;
  padding-right: 38px;
}

.password-container .toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
}

.password-container .toggle-password:hover {
  color: #000;
}

/* STEP 1 AND STEP 2 PAGES */
.form-step {
  display: none;
}
.form-step.active {
  display: block;
}

/* MAP STYLE */
#map {
  width: 100%;
  height: 50%;
  margin-bottom: 1rem;
}