footer {
  background: var(--color-footer-bg);
  padding: 8px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-menu {
  list-style: none;
  text-align: center;
}

.nav-menu a {
  text-decoration: none;
  color: var(--color-nav-text);
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-nav > a{
  color: var(--color-current-nav-text);
}