:root {
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-black-shadow: rgba(0, 0, 0, .25);
  --color-footer-bg: #FF6900;
  --color-current-nav-text: #FFD700;
  --color-nav-text: #9A9A9A;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Inter';
}