header{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 75px;
  min-width: 100%;
  background: var(--color-footer-bg);
  position: fixed;
  top: 0;
}

header h1{
  font-size: 28px;
  color: var(--color-white);
}