#wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right,#FF5656,#FF8746,#FFEA00,#E06F1E,#C99034);
}

.outer-container{
  min-height: 70vh;
  min-width: 20vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.outer-container img{
  width: 300px;
}

h1{
  padding-top: 1rem;
  font-weight: 500;
  font-size: 40px;
}