#wrapper {
  min-height: 100vh;
}

/* CONTENT SPACING */
.content {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
}

/* ADD DEVICE ICON WITH SEPARATE HEADER */
.devices-header {
  position: fixed;
  background-color: transparent;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
}

.devices-header h1 {
  font-size: 36px;
  color: var(--color-white);
}

.devices-header .add-device {
  border: none;
  cursor: pointer;
}

/* DEVICE STATUS CONTAINER */
.details-container-link{
  background: var(--color-container-bg);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 340px;
  height: 170px;
  padding: 3px;
}

.details-container-link:hover{
  box-shadow: 0 30px 30px rgba(44, 44, 44, 0.15);
}

.details-container-link a{
  text-decoration: none;
  color: black;
}

.details-container-link h2 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.details-container-link p {
  margin: 3px 0;
  font-size: 15px;
  font-weight: 600;
}

.readings-details{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

/* MAIN CONTAINER */
main{
  margin: 100px auto;
}